extends layout

block content
	div(data-role="content")
		div.about
			h1 Propeller TV
			p Propeller TV is the premium channel for the UK-China community. Watch us for business, culture and entertainment. We broadcast and produce high quality bi-lingual programmes and our mission is to build bridges that strengthen cultural exchange and economic development between the UK and China.

