extends layout

block content
	if message.length > 0
		div #{message}
	form(action="/login" method="post" accept-charset="utf-8")
		label(for="name") Email
		input(type="email" name="email")
		label(for="cover") Password
		input(type="password" name="password")
		input(type='submit' value="Login") 