doctype html
html
	head
		title Propeller TV
	body
		div.container 
			h1 Videos
			ul#video
				each video, index in videos
					li(class='video-' + index)
						a(href="/video/" + video.id) #{video}
						if member != undefined && member.local.email == "taoxh@hotmail.com"
							a(href="/delete/" + video.id) Delete

			if member != undefined && member.local.email == "taoxh@hotmail.com"
				form(action="/create" method="post" accept-charset="utf-8")
					label(for="category") Category
					fieldset(data-role="controlgroup" data-type="horizontal")
						each val in category
							input(name="category" id= val value= val type="radio")
							label(for= val style="text-transform: capitalize") #{val}
					label(for="province") Province
					fieldset(data-role="controlgroup" data-type="horizontal")
						each val in province
							input(name="province" id= val value= val type="checkbox")
							label(for= val style="text-transform: capitalize") #{val}
					label(for="station") Station
					input(type="text" name="station" required)
					label(for="program") Program
					input(type="text" name="program" required)
					label(for="title") Title
					input(type="text" name="title" required)
					label(for="cover") Cover
					input(type="text" name="cover" required)
					label(for="intro") Introduction
					textarea(cols="40" rows="6" name="intro" required)
					label(for="video") Video
					input(type="text" name="video")
					input(type='submit' value="Submit")