doctype html
html
	head
		title Propeller TV
	body
		div.container 
			h1 Videos
			ul#video
				each video, index in videos
					li(class='video-' + index)
						a(href="/video/" + video.id) #{video}
						if member != undefined && member.local.email == "taoxh@hotmail.com"
							a(href="/delete/" + video.id) Delete

			if member != undefined && member.local.email == "taoxh@hotmail.com"
				form(action="/create" method="post" accept-charset="utf-8")
					label(for="name") Name
					input(type="text" name="name")
					label(for="cover") Cover
					input(type="text" name="cover")
					label(for="intro") Introduction
					textarea(cols="40" rows="6" name="intro")
					label(for="video") Video
					input(type="text" name="video")
					input(type='submit')